.navigation {
    margin-bottom: 72px;
    padding: 0 8px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation>ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
    font-weight: 500;
}